.aboutCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 170, 226);
}
.aboutText{
    height: 38%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(16, 81, 180);
    font-size: 30px;

}
.aboutImg img{
    width: 700px;
    transition: .4s ease-in-out;
}
.aboutImg img:hover{
    width: 850px;
    opacity: .8;    
    padding: -20px 0;
    background: radial-gradient(#1c56d415, #ff769800);
}
span{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.623);
}
.textAbout{
    font-size:20px;
    color: rgb(255, 255, 255);

}
.heading{   
    padding: 0 20px 25px 0;
    display: inline;

}